@charset "UTF-8";
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

:root {
  --primari-header-color: #303030;
  --primary-link-color: #ffffff;
  --second-header-color: #ffffff;
  --accent-color: #FF6C00;
  --main-font: "Open Sans", "sans-serif";
  --main-margin: 20px;
}

label.modal-politic-label, .social__link, .social, .social-link__list, header .container, .pre-title {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  height: 40px;
  min-width: 160px;
  background-color: transparent;
  transition: background-color 250ms linear;
}
.btn:hover, .btn:focus {
  background-color: var(--accent-color);
}

.pre-title {
  font-size: 11px;
  font-size: 600;
  line-height: 1.3636363636;
  letter-spacing: em;
  text-transform: uppercase;
}
.pre-title::before {
  content: "";
  width: 60px;
  height: 1px;
  display: block;
  background-color: currentColor;
  margin-right: 20px;
}

.pre-title--light-color {
  color: rgba(157, 164, 189, 0.6);
}

.pre-title--dark-color {
  color: #303030;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-size: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

header {
  position: absolute;
  width: 100%;
  left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  header .container {
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  header .container {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation__list {
  display: flex;
}

.logo {
  display: block;
}
@media screen and (max-width: 767px) {
  .logo {
    fill: #FFFFFF;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-right: 0;
    margin-left: 31px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 130px;
  }
}

.navigation__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-link-color);
  transition: color 250ms linear;
}
.navigation__link:hover, .navigation__link:focus {
  color: #FF6C00;
}

/* .header-list > li:not(:last-child){
    margin-right: 30px;
} */
.navigation__list li + li {
  margin-left: 16px;
}
@media screen and (min-width: 1200px) {
  .navigation__list li + li {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .connection {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .connection {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .connection {
    margin-left: auto;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }
}

.connection__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-link-color);
  transition: color 250ms linear;
}
.connection__tel:hover, .connection__tel:focus {
  color: #FF6C00;
}

.connection__btn {
  margin-bottom: 20px;
  color: #FFFFFF;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  height: 40px;
  min-width: 160px;
  background-color: transparent;
}
@media screen and (min-width: 1200px) {
  .connection__btn {
    margin-left: 40px;
    margin-bottom: 0;
  }
}

.menu-open {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 40px;
  height: 40px;
  fill: #FFFFFF;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  top: 0px;
  left: 0px;
  right: 0px;
  transition: left 250ms, visibility 250ms;
}
.mobile-menu .container {
  display: block;
  height: 100%;
}
.mobile-menu .is-hidden {
  left: -100px;
  right: auto;
}

.menu-close {
  display: flex;
  margin-left: auto;
  margin-right: 0;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  fill: #303030;
}

.mob-navigation-list > li:not(:last-child) {
  margin-bottom: 24px;
}

.mob-navigation-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #303030;
}

.mob-navigation-link.current {
  color: var(--accent-color);
}

.mob-connection-tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: #303030;
  display: block;
  margin-bottom: 24px;
}

.mob-social-link-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 100px;
  position: relative;
  margin-top: 64px;
}
.mob-social-link-list::before {
  content: "";
  width: 60px;
  height: 1px;
  display: block;
  position: absolute;
  background-color: #303030;
  left: 0;
  top: 9px;
}

.mob-social-link-links {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  color: #303030;
}

.menu-content {
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.social-link {
  width: 93px;
  display: none;
  align-items: flex-end;
  padding-left: 23px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .social-link {
    display: flex;
  }
}

.social-link__list {
  transform: rotate(-90deg) translate(-15px);
  transform-origin: top left;
}
.social-link__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.social-link__list > li:not(:first-child) {
  margin-left: 40px;
}

.hero .container {
  display: flex;
  padding: 0;
}

.combination {
  padding: 208px 31px 208px 31px;
  flex-grow: 1;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("/img/hero_bg_mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #303030;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .combination {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("/img/hero_bg_mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .combination {
    padding: 270px 90px 270px 120px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("/img/hero_bg_tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .combination {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("/img/hero_bg_tab-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .combination {
    padding: 272px 0px 206px 96px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("/img/hero_bg.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .combination {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("/img/hero_bg-2x.jpg");
  }
}

.combination__pre-title {
  margin-bottom: var(--main-margin);
}

.combination__title {
  font-family: "Raleway", "sans serif";
  font-size: 42px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--second-header-color);
  margin-bottom: var(--main-margin);
}
@media screen and (min-width: 480px) {
  .combination__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .combination__title {
    font-size: 72px;
  }
}

.combination__text {
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  max-width: 336px;
}
@media screen and (min-width: 768px) {
  .combination__text {
    font-size: 18px;
    max-width: 370px;
  }
}

.social-link__links {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms linear;
}
.social-link__links:hover, .social-link__links:focus {
  color: var(--accent-color);
}

.about {
  padding: 120px 0;
}
.about .container {
  display: flex;
}

.picture-list {
  display: flex;
}

.about__elements-wrap {
  margin-left: 30px;
}

.picture-list__items:not(:last-child) {
  margin-right: 30px;
}

.elements-wrap__pre-title {
  margin-bottom: var(--main-margin);
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.elements-wrap__title {
  color: var(--primari-header-color);
  margin-bottom: var(--main-margin);
}

.elements-wrap__after-title {
  color: #555555;
  margin-bottom: var(--main-margin);
}

.elements-wrap__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}

.elements-wrap__btn {
  color: var(--primari-header-color);
}

.prices {
  padding: 120px 0;
  background-image: url("../img/prices_bg.png");
  background-color: #111319;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--main-margin);
}

.prices-title {
  color: var(--second-header-color);
  margin-bottom: 44px;
}

.prices-list-wrap {
  display: flex;
  gap: 30px;
}

.prices-list {
  padding: 30px 20px;
  flex-grow: 1;
}
.prices-list.prices-list:first-child {
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list:last-child {
  background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-items {
  margin-bottom: var(--main-margin);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.prices-items::before {
  content: "";
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin: 0 12px;
}
.prices-items:last-child {
  margin-bottom: 0px;
}

.prices-elements {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
.prices-elements.prices-elements:first-child {
  order: -1;
}

.prices-btn {
  color: #FFFFFF;
  margin: 0 auto;
  display: block;
  margin-top: 44px;
}

.benefits {
  padding: 120px 0;
}
.benefits .container {
  display: flex;
}

.benefits-list-wrap {
  width: calc(50% + 15px);
  display: flex;
  justify-content: center;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}

.benefits-items {
  background-color: #f7f7f7;
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  text-align: center;
}
.benefits-items:nth-child(2n+1) {
  margin-right: 30px;
}
.benefits-items:nth-child(2n) {
  margin-top: 30px;
}
.benefits-items > p {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #303030;
}
.benefits-items > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--primari-header-color);
  display: inline-block;
  display: flex;
  justify-content: center;
}
.benefits-items > span::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}

.benefits-wrap {
  padding-top: 9px;
  padding-right: 70px;
}

.benefits-pre-title {
  color: var(--primari-header-color);
  margin-bottom: var(--main-margin);
}

.benefits-title {
  color: var(--primari-header-color);
  margin-bottom: var(--main-margin);
}

.benefits-after-title {
  color: #555555;
}

.barbers {
  padding: 84px 0;
  background-color: #F7F7F7;
}
@media screen and (min-width: 768px) {
  .barbers {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .barbers {
    padding: 120px 0;
  }
}

@media screen and (min-width: 768px) {
  .barbers .container {
    width: 540px;
  }
}
@media screen and (min-width: 1200px) {
  .barbers .container {
    width: 1200px;
  }
}
.barbers__pre-title {
  color: var(--primari-header-color);
  margin-bottom: var(--main-margin);
}

.barbers__title {
  color: var(--primari-header-color);
  margin-bottom: 44px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card-list__items {
  flex-basis: 100%;
}
.card-list__items:not(:last-child) {
  margin-bottom: 64px;
}
@media screen and (min-width: 1200px) {
  .card-list__items:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .card-list__items {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.card-list__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primari-header-color);
  margin-top: 30px;
  margin-bottom: 8px;
}

.card-list__info {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.social {
  justify-content: center;
}

.social__items {
  width: 44px;
  height: 44px;
}
.social__items:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 50%;
  justify-content: center;
  color: #000;
  transition: fill 250ms linear;
}
.social__link:hover, .social__link:focus {
  fill: var(--accent-color);
}

/* .barbers-soc-link .barbers-soc-icons:hover,
.barbers-soc-link .barbers-soc-icons:focus{
fill: var(--accent-color);
} */
.gallery {
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding: 120px 0;
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.gallery-item {
  margin-left: 30px;
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery-item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    width: calc((100% - 120px) / 4);
  }
}

.gallery-item:last-child {
  margin-right: 0;
}

.gallery-pre-title {
  color: var(--primari-header-color);
  margin-bottom: 71px;
}
@media screen and (min-width: 768px) {
  .gallery-pre-title {
    margin-bottom: 44px;
  }
}

.contact-wrap {
  background-color: #191C26;
  background-image: url(../img/contacts_bg.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center right calc(50% - 15px - 392px);
}
.contact-wrap > .container {
  display: flex;
}

.contact-wrap > .container {
  display: flex;
}

/* FORM */
.form {
  width: calc(50% + 15px);
  padding-top: 130px;
  padding-bottom: 183px;
}

.form-title {
  color: var(--second-header-color);
  margin-bottom: 44px;
}

.contact-btn {
  color: #FFFFFF;
}

.contact-form-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-bottom: 44px;
  cursor: pointer;
  transition: border-bottom-color 250ms linear;
}
.contact-form-item::-moz-placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
  -moz-transition: color 250ms linear;
  transition: color 250ms linear;
}
.contact-form-item:-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
  -ms-transition: color 250ms linear;
  transition: color 250ms linear;
}
.contact-form-item::placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
  transition: color 250ms linear;
}
.contact-form-item:focus, .contact-form-item:hover {
  outline: transparent;
  border-bottom-color: #FFFFFF;
}
.contact-form-item:focus::-moz-placeholder, .contact-form-item:hover::-moz-placeholder {
  color: #FFFFFF;
}
.contact-form-item:focus:-ms-input-placeholder, .contact-form-item:hover:-ms-input-placeholder {
  color: #FFFFFF;
}
.contact-form-item:focus::placeholder, .contact-form-item:hover::placeholder {
  color: #FFFFFF;
}

.contact-input {
  width: 270px;
  height: 24px;
}
.contact-input:first-child {
  margin-right: 30px;
}

.contact-textarea {
  width: 570px;
  height: 76px;
  resize: none;
}

/* CONTACTS */
.contacts {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
}

.contacts-title {
  color: var(--second-header-color);
}

.contacts-links {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.contact-address {
  font-weight: 700;
}

.contacts-pre-title {
  color: var(--primary-link-color);
}

.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.footer {
  padding: 56px 0;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9DA4BD;
}

.footer-links {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.footer-links:hover, .footer-links:focus {
  color: var(--accent-color);
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(85, 85, 85, 0.486);
  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 500px;
  min-height: 500px;
  padding: 35px;
  background-color: #FFFFFF;
  border-radius: 5px;
  transition: transform 250ms linear;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms linear;
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-heading {
  font-size: 24px;
  color: var(--primari-header-color);
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.modal-input, .modal-select {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  color: #303030;
  font-size: 14px;
  transition: border-color 250ms linear;
}

.modal-input:required {
  border-color: red;
}

.modal-input:focus,
.modal-input:hover {
  border-color: var(--accent-color);
  outline: transparent;
}

.modal-input:focus + svg,
.modal-input:hover + svg {
  fill: var(--accent-color);
}

.modal-input::-moz-placeholder {
  color: var(--accent-color);
  font-weight: 700;
}

.modal-input:-ms-input-placeholder {
  color: var(--accent-color);
  font-weight: 700;
}

.modal-input::placeholder {
  color: var(--accent-color);
  font-weight: 700;
}

.modal-input:not(:focus):not(:-moz-placeholder-shown):valid {
  background-color: rgba(63, 206, 63, 0.576);
}

.modal-input:not(:focus):not(:-ms-input-placeholder):valid {
  background-color: rgba(63, 206, 63, 0.576);
}

.modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(63, 206, 63, 0.576);
}

.modal-input:not(:focus):not(:-moz-placeholder-shown):invalid {
  background-color: rgba(238, 44, 44, 0.534);
}

.modal-input:not(:focus):not(:-ms-input-placeholder):invalid {
  background-color: rgba(238, 44, 44, 0.534);
}

.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(238, 44, 44, 0.534);
}

.modal-input-group {
  margin-bottom: 10px;
}
.modal-input-group label {
  color: #191C26;
  display: block;
  margin-bottom: 10px;
}

.modal-text {
  width: 100%;
  height: 140px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 10px;
  color: #303030;
  font-size: 14px;
  resize: none;
  padding: 10px;
}

input[type=radio]:checked + label {
  background-color: var(--accent-color);
}

.modal-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms linear;
}

.modal-input-wrapper {
  position: relative;
}

.modal-politic-label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
}

.modal-politic-check:checked + label::before {
  border: none;
  background-repeat: no-repeat;
  background-image: url("/img/check.svg");
  background-position: center;
  background-color: var(--accent-color);
}

.modal-fieldset {
  border: 1px solid rgba(33, 33, 33, 0.2);
}

/* УТИЛІТАРНИІ КЛАСИ */
/* HEADER */
/* HERO */
/* .hero {
    background-color: #737373;
} */
/* ABOUT */
/* PRICES */
/* BENEFITS */
/* BARBERS */
/* GALLERY */
/* CONTACT-WRAP */
/* FOOTER *//*# sourceMappingURL=main.css.map */