.benefits{
    padding: 84px 0;
    @media screen and (min-width: 768px){
        padding: 144px 0 100px 0;  
     }
    @media screen and (min-width: 1200px){
        padding: 120px 0;  
     }
    
    & .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        @media screen and (min-width: 1200px){
            flex-wrap: nowrap;
            flex-direction: row; 
         }
    }
}

.benefits-list-wrap{
    display: flex;
    justify-content: center;
    @media screen and (min-width: 768px){
        justify-content: flex-end;  
     }
    @media screen and (min-width: 1200px){
        width: calc(50% + 15px);
        justify-content: center;  
     }
}
.benefits-list{
    display: flex;
    flex-wrap: wrap;
    width: 370px;
}

.benefits-items{
    background-color: #f7f7f7;
    width: 170px;
    height: 133px;
    padding: 20px 35px;
    text-align: center;
    @media screen and (min-width: 1200px){
        padding: 20px 24px; 
     }
    &:nth-child(2n+1){
        margin-right: 30px;
    }
    &:nth-child(2n){
        margin-top: 30px;
    }
    & > p {
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        color: #303030;
    }
    & > span {
        font-weight: 700;
        font-size: 42px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.05em;
        color: var(--primari-header-color);
        display: inline-block;
        display: flex;
        justify-content: center;
        &::after{
            content: "+";
            font-weight: 600;
            font-size: 16px;
            line-height: 1.38;
            text-align: center;
            color: var(--accent-color);
            }
        }
}


.benefits-wrap{
    padding: 0;
    margin-bottom: 44px;
    @media screen and (min-width: 1200px){
        padding-top: 9px;
        padding-right: 70px;
        margin-bottom: 0;  
     }
}

.benefits-pre-title {
    color: var(--primari-header-color);
    margin-bottom: var(--main-margin);
}

.benefits-title {
    font-size: 40px;
    color: var(--primari-header-color);
    margin-bottom: var(--main-margin);
    @media screen and (min-width: 768px){
        font-size: 42px;
        max-width: 449px; 
     }
    
}

.benefits-after-title {
color: #555555;
@media screen and (min-width: 768px){
    max-width: 500px; 
 }
}