header {
    position: absolute;
    width: 100%;
    left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    & .container{
        @extend %flex-align;
        @media screen and (min-width: 768px){
            justify-content: space-between;
            align-items: flex-start;
        }
        @media screen and (min-width: 1200px){
            align-items: center;
        }
    }

}

.navigation{
    @media screen and (max-width: 767px){
        display: none;
    }
}

.navigation__list{
    display: flex;
}
.logo{
display: block;
@media screen and (max-width: 767px){
    fill: #FFFFFF;
}
}

.header__logo{
    @media screen and (max-width: 767px){
        margin-right: 0;
        margin-left: 31px;
    }
    @media screen and (min-width: 768px){
        margin-right: 0px;
    }
    @media screen and (min-width: 1200px){
        margin-right: 130px;
    }
}

.navigation__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--primary-link-color);
    transition: color 250ms linear;
        &:hover,
         &:focus {
        color: #FF6C00;
    }
}
/* .header-list > li:not(:last-child){
    margin-right: 30px;
} */
.navigation__list li + li {
    margin-left: 16px;
    @media screen and (min-width: 1200px){
       margin-left: 30px;
    }
}


.connection{
    @media screen and (max-width: 767px){
        display: none;
        
    }
    @media screen and (min-width: 768px){
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end; 
    }
    @media screen and (min-width: 1200px){
        margin-left: auto;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }
}

.connection__tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--primary-link-color);
    transition: color 250ms linear;
    &:hover,
    &:focus {
   color: #FF6C00;
}
}
.connection__btn {
margin-bottom: 20px;
color: #FFFFFF;  
border: 1px solid var(--accent-color);
border-radius: 25px;
height: 40px;
min-width: 160px;
background-color: transparent;
@media screen and (min-width: 1200px){
    margin-left: 40px;
    margin-bottom: 0;
}
}

.menu-open{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 40px;
    height: 40px;
    fill: #FFFFFF;
    background-color: transparent;
    border: none;
    @media screen and (min-width: 768px){
        display: none;
    }
}

.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    top: 0px;
    left: 0px;
    right: 0px;
    transition: left 250ms, visibility 250ms;
    & .container{
        display: block;
        height: 100%;
    }
    .is-hidden{
        left: -100px;
        right: auto;
    }
}
.menu-close {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    fill: #303030;
}

.mob-navigation-list > li:not(:last-child){
    margin-bottom: 24px;
}

.mob-navigation-link {
font-weight: 600;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.1em;
color: #303030;
}
.mob-navigation-link.current {
color: var(--accent-color);
}


.mob-connection-tel {
font-weight: 600;
font-size: 18px;
line-height: 1.39;
letter-spacing: 0.1em;
color: #303030;
display: block;
margin-bottom: 24px;
}


.mob-social-link-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 100px;
    position: relative;
    margin-top: 64px;
    &::before{
        content: "";
        width: 60px;
        height: 1px;
        display: block;
        position: absolute;
        background-color: #303030;
        left: 0;
        top: 9px;
    }
}

    
.mob-social-link-links {
font-weight: 600;
font-size: 14px;
line-height: 1.35;
letter-spacing: 0.2em;
color: #303030;
}

.menu-content{
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}