:root {
    --primari-header-color: #303030;
    --primary-link-color: #ffffff;
    --second-header-color: #ffffff;
    --accent-color: #FF6C00;
    --main-font: "Open Sans", "sans-serif";
    --main-margin: 20px;
}